/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

/* ------------------------------------- */
/* Generic styles ................... */
/* ------------------------------------- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: #84C318;*/
  background: #20222B;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }


/* ------------------------------------- */
/* Dry styles ................... */
/* ------------------------------------- */
.no-delay {
  -webkit-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.quick {
  -webkit-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

.mid {
  -webkit-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.slow {
  -webkit-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s; }

.index9 {
  z-index: 9; }

.dim-text {
  color: #b3b3b3; }

.p-color {
  color: #84C318; }

.t-color {
  color: #1E91D6; }

.text-dark {
  color: #000 !important; }

.content-width50 {
  width: 50%; }

.logo-width80 {
  max-width: 80px !important; }

.logo-width100 {
  max-width: 100px !important; }

.rotate90 {
  transform: rotate(90deg); }

.fixed {
  position: fixed !important; }

.absolute {
  position: absolute !important; }

.align-center {
  left: 50%;
  transform: translateX(-50%); }

.align-right {
  right: 4%; }

.align-right-zero {
  right: 0; }

.align-top-left {
  left: 4% !important;
  top: 50px !important; }

.align-left {
  left: 4% !important; }
  .align-left p {
    margin-bottom: 0 !important; }

.align-bottom {
  bottom: 50px; }

.block {
  display: block !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.relative {
  position: relative !important; }

.top-auto {
  top: auto !important; }

.visible {
  visibility: visible !important; }

/* ------------------------------------- */
/* Plugin styles ................... */
/* ------------------------------------- */
/*Map*/
.custom-map {
  position: absolute;
  height: 100%;
  width: 100%; }

/* Sketch Animation */
#container {
  position: absolute;
  width: 100%;
  height: 100%; }

/* bit animations */
.bit {
  left: 0;
  position: absolute;
  height: 100%; }

/* C Animations */
.header {
  display: block;
  position: relative;
  background: #42275a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #42275a, #734b6d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #42275a, #734b6d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: white;
  height: 75vh;
  min-height: 600px; }

.header .waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.particles {
  position: absolute;
  top: -100px;
  left: 10px;
  right: 10px;
  height: 1100px; }

.particles {
  left: 10px;
  right: 10px;
  height: 1100px; }

.particles .particle {
  position: absolute;
  opacity: .5;
  background: #fff;
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important; }

.particle:nth-child(1) {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  -webkit-animation: floating 28s linear;
  animation: floating 28s linear;
  top: 65%;
  left: 10%; }

.particle:nth-child(2) {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  -webkit-animation: floating 35s linear;
  animation: floating 35s linear;
  top: 15%;
  left: 33%; }

.particle:nth-child(25),
.particle:nth-child(3) {
  -webkit-animation: floating 28s linear;
  border-radius: 100%; }

.particle:nth-child(3) {
  height: 21px;
  width: 21px;
  animation: floating 28s linear;
  top: 48%;
  left: 36%; }

.particle:nth-child(4) {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  -webkit-animation: floating 25s linear;
  animation: floating 25s linear;
  top: 85%;
  left: 75%; }

.particle:nth-child(5) {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 36%;
  left: 78%; }

.particle:nth-child(6) {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  -webkit-animation: floating 23s linear;
  animation: floating 23s linear;
  top: 87%;
  left: 18%; }

.particle:nth-child(7) {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  -webkit-animation: floating 36s linear;
  animation: floating 36s linear;
  top: 63%;
  left: 78%; }

.particle:nth-child(8) {
  height: 17px;
  width: 17px;
  border-radius: 100%;
  -webkit-animation: floating 27s linear;
  animation: floating 27s linear;
  top: 35%;
  left: 76%; }

.particle:nth-child(9) {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  -webkit-animation: floating 31s linear;
  animation: floating 31s linear;
  top: 20%;
  left: 70%; }

.particle:nth-child(10) {
  height: 13px;
  width: 13px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 42%;
  left: 23%; }

.particle:nth-child(11) {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  -webkit-animation: floating 30s linear;
  animation: floating 30s linear;
  top: 62%;
  left: 17%; }

.particle:nth-child(12) {
  height: 13px;
  width: 13px;
  border-radius: 100%;
  -webkit-animation: floating 29s linear;
  animation: floating 29s linear;
  top: 9%;
  left: 63%; }

.particle:nth-child(13) {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  -webkit-animation: floating 21s linear;
  animation: floating 21s linear;
  top: 14%;
  left: 30%; }

.particle:nth-child(14) {
  height: 11px;
  width: 11px;
  border-radius: 100%;
  -webkit-animation: floating 34s linear;
  animation: floating 34s linear;
  top: 29%;
  left: 33%; }

.particle:nth-child(15) {
  height: 17px;
  width: 17px;
  border-radius: 100%;
  -webkit-animation: floating 23s linear;
  animation: floating 23s linear;
  top: 68%;
  left: 31%; }

.particle:nth-child(16) {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  -webkit-animation: floating 21s linear;
  animation: floating 21s linear;
  top: 29%;
  left: 57%; }

.particle:nth-child(17) {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 49%;
  left: 21%; }

.particle:nth-child(18) {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  -webkit-animation: floating 37s linear;
  animation: floating 37s linear;
  top: 35%;
  left: 94%; }

.particle:nth-child(19) {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  -webkit-animation: floating 35s linear;
  animation: floating 35s linear;
  top: 42%;
  left: 33%; }

.particle:nth-child(20) {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  -webkit-animation: floating 35s linear;
  animation: floating 35s linear;
  top: 94%;
  left: 20%; }

.particle:nth-child(21) {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  -webkit-animation: floating 37s linear;
  animation: floating 37s linear;
  top: 7%;
  left: 23%; }

.particle:nth-child(22) {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  -webkit-animation: floating 34s linear;
  animation: floating 34s linear;
  top: 49%;
  left: 33%; }

.particle:nth-child(23) {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  -webkit-animation: floating 29s linear;
  animation: floating 29s linear;
  top: 82%;
  left: 58%; }

.particle:nth-child(24) {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 60%;
  left: 90%; }

.particle:nth-child(25) {
  height: 25px;
  width: 25px;
  animation: floating 28s linear;
  top: 53%;
  left: 85%; }

.particle:nth-child(26) {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  -webkit-animation: floating 28s linear;
  animation: floating 28s linear;
  top: 63%;
  left: 94%; }

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5);
    opacity: 0; }
  5% {
    opacity: 0.7; }
  50% {
    -webkit-transform: translate(0, -250px) scale(1.4);
    transform: translate(0, -250px) scale(1.4); }
  95% {
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, -500px) scale(0.5);
    transform: translate(0, -500px) scale(0.5); } }
/* 3D particles animations */
#parallax {
  background: radial-gradient(ellipse at center, #2747D8, #2747D8); }

#particles-js, #parallax, .layer, .some-space {
  height: 100%;
  position: absolute;
  width: 100%; }

#particles-js {
  opacity: 1; }

#particles-js2 {
  opacity: 0.4; }

#particles-js3 {
  opacity: 0.3; }

#logo {
  -webkit-box-shadow: 0 0 7px 1px #FFFFFF;
  box-shadow: 0 0 7px 1px #FFFFFF; }

#logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.some-space {
  -webkit-animation: rotate 18s 0.5s infinite linear reverse;
  animation: rotate 18s 0.5s infinite linear reverse; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg); } }
/* rocket animations*/
*, *:before, *:after {
  box-sizing: border-box; }

.scene {
  width: 202px;
  height: 380px;
  background: #20222B;
  animation: vibration 0.2s infinite;
  position: absolute;
  margin: auto;
  top: 0;
  left: -100px;
  right: 0;
  bottom: 0; }

.wing-left {
  position: absolute;
  z-index: 10;
  height: 103px;
  width: 0px;
  padding: 0px;
  top: 82px;
  left: 16px;
  transform: rotate(10deg) skew(5deg);
  border-top: 21px solid transparent;
  border-right: 38px solid #84C318;
  border-bottom: 19px solid transparent; }
  .wing-left:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -50px;
    height: 0px;
    width: 0px;
    border-top: 20px solid transparent;
    border-right: 50px solid #20222B;
    border-bottom: 50px solid transparent; }

.wing-right {
  position: absolute;
  z-index: 10;
  height: 103px;
  width: 0px;
  padding: 0px;
  top: 62px;
  right: 17px;
  transform: rotate(-10deg) skew(-5deg);
  border-top: 0 solid transparent;
  border-right: 40px solid #84C318;
  border-bottom: 15px solid transparent; }
  .wing-right:after {
    content: "";
    display: block;
    position: absolute;
    top: -33px;
    left: -19px;
    height: 0px;
    width: 0px;
    border-top: 36px solid transparent;
    border-right: 68px solid #20222B;
    border-bottom: 45px solid transparent; }

.exhaust {
  position: absolute;
  z-index: 20;
  top: 156px;
  left: 51px;
  height: 0px;
  width: 101px;
  border-top: 23px solid #84C318;
  border-left: 9px solid transparent;
  border-right: 8px solid transparent; }

.capsule {
  position: absolute;
  z-index: 30;
  background: #20222B;
  left: 46px;
  top: 5px;
  width: 111px;
  height: 156px;
  opacity: 1;
  overflow: hidden; }
  .capsule .base {
    position: absolute;
    background: #ccc;
    width: 112px;
    height: 94px;
    top: 62px;
    left: 0px;
    background: linear-gradient(to right, #F3F3F3 0%, #F3F3F3 65%, #E0E0E0 65%, #E0E0E0 100%); }
  .capsule .top {
    position: absolute;
    height: 0px;
    width: 0px;
    padding: 0px;
    left: 0;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    border-bottom: 62px solid #F3F3F3; }
    .capsule .top:after {
      content: "";
      position: absolute;
      height: 0px;
      width: 0px;
      border-left: 0px solid transparent;
      border-right: 156px solid transparent;
      border-bottom: 84px solid #20222B;
      transform: skew(42deg);
      top: -14px;
      left: 25px;
      z-index: 50; }
    .capsule .top .shadow {
      position: absolute;
      height: 0px;
      width: 0px;
      border-left: 20px solid transparent;
      border-right: 80px solid transparent;
      border-bottom: 90px solid #E0E0E0;
      transform: skew(26deg);
      top: -20px;
      left: -3px;
      z-index: 40; }

.window-big {
  width: 70px;
  height: 70px;
  background: #84C318;
  border-radius: 8em;
  position: absolute;
  z-index: 40;
  top: 57px;
  left: 66px; }

.window-small {
  width: 44px;
  height: 44px;
  background: #272425;
  border-radius: 8em;
  position: absolute;
  z-index: 50;
  top: 70px;
  left: 79px; }

.propulsed__slow, .fire-2, .fire-3, .fire-4 {
  animation: fire_propulsion 0.3s ease-in infinite; }

.main_fire, .fire-1 {
  animation: main_fire 0.1s cubic-bezier(0.175, 0.885, 0.42, 1.41) infinite; }

.fire-1 {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 169px;
  transform-origin: 50% 50%;
  transform: rotate(-40deg) skew(1deg, -11deg);
  z-index: 10;
  left: 64px;
  background: linear-gradient(135deg, #EF8B32 0%, #EF8B32 50%, #E82134 50%, #E82134 100%); }

.fire-2 {
  display: none;
  position: absolute;
  height: 55px;
  width: 55px;
  top: 180px;
  transform-origin: 50% 50%;
  transform: rotate(-33deg) skew(0deg, -30deg);
  z-index: 15;
  left: 58px;
  background: linear-gradient(135deg, #E82134 0%, #E82134 50%, #EF8B32 50%, #EF8B32 100%);
  animation-delay: 0.2s; }

.fire-3 {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 196px;
  left: 58px;
  transform-origin: 50% 50%;
  transform: rotate(-33deg) skew(0deg, -30deg);
  z-index: 20;
  background: linear-gradient(135deg, #EF8B32 0%, #EF8B32 50%, #E82134 50%, #E82134 100%);
  animation-delay: 0.2s; }

.fire-4 {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 200px;
  transform-origin: 50% 50%;
  transform: rotate(-33deg) skew(0deg, -30deg);
  z-index: 20;
  left: 126px;
  background: linear-gradient(135deg, #E82134 0%, #E82134 50%, #EF8B32 50%, #EF8B32 100%); }

.propulsed, .spark-1, .spark-2, .spark-3, .spark-4 {
  animation: dancing_fire 0.24s infinite; }

.spark-1 {
  position: absolute;
  bottom: 177px;
  z-index: 20;
  right: 70px;
  width: 12px;
  height: 12px;
  background: #EF8B32;
  transform-origin: 50% 50%; }

.spark-2 {
  position: absolute;
  bottom: 147px;
  z-index: 20;
  left: 52px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #EF8B32;
  animation-delay: 0.22s; }

.spark-3 {
  position: absolute;
  bottom: 90px;
  z-index: 20;
  left: 109px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #E82134;
  animation-delay: 0.32s; }

.spark-4 {
  position: absolute;
  bottom: 20px;
  left: 83px;
  z-index: 20;
  width: 10px;
  height: 10px;
  background: #EF8B32;
  animation-delay: 0.16s; }

.hyperspace, .star {
  animation: hyperspace 0.4s infinite; }

.star {
  position: absolute;
  width: 4px;
  height: 20px;
  background: #fff;
  z-index: 90; }
  .star.star--1 {
    left: 50px;
    top: -10px;
    animation-delay: 0.10s; }
  .star.star--2 {
    right: 60px;
    top: 30px;
    animation-delay: 0.10s; }
  .star.star--3 {
    top: 80px;
    left: 25px;
    animation-delay: 0.2s; }
  .star.star--4 {
    top: -20px;
    right: 75px;
    animation-delay: 0.2s; }
  .star.star--5 {
    right: 30px;
    top: -60px;
    animation-delay: 0.30s; }
  .star.star--6 {
    right: 160px;
    top: 50px;
    animation-delay: 0.40s; }
  .star.star--7 {
    top: 20px;
    left: 75px;
    animation-delay: 0.3s; }
  .star.star--8 {
    top: -30px;
    right: 95px;
    animation-delay: 0.4s; }
  .star.star--9 {
    right: 30px;
    top: -60px;
    animation-delay: 0.30s; }
  .star.star--10 {
    right: 160px;
    top: 50px;
    animation-delay: 0.40s; }
  .star.star--11 {
    top: 20px;
    left: 75px;
    animation-delay: 0.3s; }
  .star.star--12 {
    top: -30px;
    right: 95px;
    animation-delay: 0.4s; }
  .star.star--13 {
    left: -30px;
    top: -60px;
    animation-delay: 0.30s; }
  .star.star--14 {
    right: -20px;
    top: 50px;
    animation-delay: 0.40s; }
  .star.star--15 {
    top: 20px;
    left: -75px;
    animation-delay: 0.3s; }
  .star.star--16 {
    top: -30px;
    right: -95px;
    animation-delay: 0.4s; }

@keyframes dancing_fire {
  0% {
    transform-origin: 50% 50%;
    transform: translate(0, -10px) scale(1);
    opacity: 1; }
  100% {
    transform: translate(0, 50px) scale(1);
    opacity: 0; } }
@keyframes fire_propulsion {
  0% {
    transform: translate(0, -10px) scale(1) rotate(-33deg) skew(0deg, -30deg);
    transform-origin: 50% 50%;
    opacity: 1; }
  100% {
    transform: translate(0, 50px) scale(0.7) rotate(-33deg) skew(0deg, -30deg);
    opacity: 0; } }
@keyframes main_fire {
  0% {
    transform: translate(0, 5px) scale(1.1, 1) rotate(-33deg) skew(0deg, -30deg); }
  100% {
    transform: translate(0, 0px) scale(1, 1.4) rotate(-33deg) skew(0deg, -30deg); } }
@keyframes vibration {
  0% {
    transform: scale(1) translate(0, 0) rotate(45deg); }
  50% {
    transform: scale(1) translate(1px, -1px) rotate(45deg); }
  100% {
    transform: scale(1) translate(0, 0) rotate(45deg); } }
@keyframes hyperspace {
  0% {
    transform: translate(0, -100px) scale(1, 0);
    opacity: 1; }
  100% {
    transform: translate(0, 400px) scale(1, 1);
    opacity: 0; } }
/*Leaf animations*/
svg {
  position: absolute;
  width: 100%;
  height: 100%; }

@keyframes motion {
  to {
    -moz-transform: rotate(20deg) translateX(4000px) skewX(10deg);
    -webkit-transform: rotate(20deg) translateX(4000px) skewX(10deg);
    -o-transform: rotate(20deg) translateX(4000px) skewX(10deg);
    -ms-transform: rotate(20deg) translateX(4000px) skewX(10deg);
    transform: rotate(20deg) translateX(4000px) skewX(10deg); } }
@keyframes motion2 {
  to {
    -moz-transform: rotate(-30deg) translateX(4000px);
    -webkit-transform: rotate(-30deg) translateX(4000px);
    -o-transform: rotate(-30deg) translateX(4000px);
    -ms-transform: rotate(-30deg) translateX(4000px);
    transform: rotate(-30deg) translateX(4000px); } }
@keyframes motion3 {
  to {
    -moz-transform: rotate(50deg) translateX(4000px);
    -webkit-transform: rotate(50deg) translateX(4000px);
    -o-transform: rotate(50deg) translateX(4000px);
    -ms-transform: rotate(50deg) translateX(4000px);
    transform: rotate(50deg) translateX(4000px); } }
#l4,
#l12 {
  animation: 14s motion2 infinite; }

#l7,
#l9 {
  animation: 12s motion2 infinite; }

#l2,
#l15 {
  animation: 16s motion2 infinite; }

#l7,
#l12 {
  animation: 12s motion2 infinite; }

#l5,
#l11 {
  animation: 17s motion infinite; }

#l14 {
  animation: 15s motion infinite; }

#l10 {
  animation: 16s motion infinite; }

#l3 {
  animation: 14s motion3 infinite; }

#l13 {
  animation: 18s motion3 infinite; }

#l8 {
  animation: 12s motion3 infinite; }

/* 3d */
/* Angular Animation */
.angle-pattern {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #84C318; }
  .angle-pattern canvas {
    background: #84C318; }
  .angle-pattern #home {
    position: absolute;
    height: 100%;
    top: 0; }

.controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 200;
  display: none !important; }

/*Doty Animations*/
.doty {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4 !important; }

/*Particles Animations*/
#instructions {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 20px;
  color: #efefef;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em; }

#instructions::-moz-selection {
  background: transparent; }

#instructions::selection {
  background: transparent; }

#codepen-link {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  z-index: 10;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url("http://www.seanalexanderfree.com/codepen/avatar.jpg");
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

#codepen-link:hover {
  opacity: 0.8;
  box-shadow: 0 0 6px rgba(239, 239, 207, 0.8); }

/* Start Animations*/
#starEffect {
  position: fixed;
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 0 !important; }

/* Shaphy Animations*/
#geometric {
  position: absolute;
  top: 0;
  left: 0; }

.accent {
  background-color: #84C318;
  z-index: 100;
  position: relative;
  opacity: 0.9; }

.controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 200; }

#bubbles {
  opacity: 0.5; }

#bubbles div {
  border: solid 2px white;
  border-radius: 100%;
  position: absolute;
  visibility: hidden;
  -webkit-animation: fade 10s infinite; }

@-webkit-keyframes fade {
  from {
    bottom: -24px;
    opacity: 1;
    visibility: visible; }
  to {
    bottom: 120%; } }
@keyframes fade {
  from {
    bottom: -24px;
    opacity: 1;
    visibility: visible; }
  to {
    bottom: 120%; } }
/* box */
.wrapper {
  background: transparent !important;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

.bg-bubbles li:nth-child(1) {
  left: 10%; }

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s; }

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25); }

.bg-bubbles li:nth-child(5) {
  left: 70%; }

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2); }

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s; }

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s; }

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3); }

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s; }

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg); } }
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg); } }
/*Square animations*/
#squareCanvas {
  position: fixed;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

/* Particles */
#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0; }

.particles-js-canvas-el {
  position: absolute; }


/* photoSwipe */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background: #20222B; }

.pswp__item {
  cursor: url("../img/icon-zoom-out.png"), pointer; }

.pswp--zoom-allowed .pswp__img {
  cursor: url("../img/icon-zoom.png"), pointer; }

.pswp__button--arrow--left:before, .pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: #20222B;
  height: 30px;
  width: 32px;
  position: absolute; }

#shapeMask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #shapeMask > div {
    position: absolute; }
  #shapeMask .layer {
    position: relative !important; }
